.box {
  position: absolute;
  width: 10rem;

  background-color: $background;

  box-shadow: 0 3px 6px -3px $main-color;

  &.colors {
    top: 35%;
  }

  &.images {
    top: 5rem;
    right: 1rem;
  }
}